![Ss]tyle[Cc]op.targets
!packages/repositories.config
$RECYCLE.BIN/
*.Cache
*.DotSettings.user
*.Publish.xml
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.app
*.aps
*.azurePubxml
*.build.csdef
*.cachefile
*.cmd
*.d
*.dSYM/
*.dbmdl
*.dll
*.dwo
*.dylib
*.elf
*.exp
*.gch
*.gpState
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.log
*.map
*.meta
*.mod*
*.ncb
*.o
*.obj
*.opensdf
*.out
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.pubxml
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.so
*.so.*
*.su
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*_i.c
*_i.h
*_p.c
*~
.DS_Store
.builds
.git
.tmp_versions/
.vs
AppPackages/
App_Data/*.ldf
App_Data/*.mdf
Backup*/
ClientBin/
Desktop.ini
Generated_Code/
Mkfile.old
Module.symvers
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_NCrunch*
_ReSharper*/
_UpgradeReport_Files/
csx/
dkms.conf
ehthumbs.db
ipch/
modules.order
packages/
publish/
sql/
x64/
~$*
misc/